.navbar {
    padding-top: 30px;   
    padding-left: 0px;
    padding-bottom: 30px;
    background-color: white; 
}

.navbar-nav {
    padding-left: 150px; 
}

.hero-section {
    background-image: url('images/hero.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 40px);
    margin: 0px 37px 37px; 
    box-sizing: border-box;
}

.hero-section .container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.hero-section .btn {
    align-self: flex-start; 
    margin-left: 85px; 
    border-radius: 25px; 
    font-size: 0.9rem; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.hero-title {
    font-size: 1.5rem; 
    font-weight: 700; 
    text-align: center; 
    margin: 0 auto; 
    padding-top: 80px;
}

.hero-description {
    font-size: 1rem; 
    font-weight: 400;
    text-align: center; 
    margin: 0 auto; 
    padding-top: 10px;
}

.text-start {
    margin-left: 0px;
}

.card {
    border: none;
}

.card-title {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 30px;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card {
    border: none;
    margin: 35px; 
}

.row {
    justify-content: center; 
    margin: -10px; 
}

.col-lg-3, .col-md-4 {
    padding-left: 0;
    padding-right: 0; 
}

h2 {
    font-weight: bold; 
    margin-left: 100px; 
    margin-top: 70px; 
    margin-bottom: 50px; 
    font-size: 1.5rem;
    padding-bottom: 18px; 
}

.card {
    border: none;
    margin: 0;
}

.row {
    margin: 0;
}

.card-img-top {
    width: 95%;
    height: 100%;
    object-fit: cover;
}

.container-fluid {
    padding-left: 37px; 
    padding-right: 25px; 
}

.row {
    margin: 0; 
}

.gx-3 {
    --bs-gutter-x: 1rem; 
}

.card .btn {
    border-radius: 25px; 
    font-size: 1.1rem;  
    padding-top: 10px;  
    padding-bottom: 10px; 
    margin-top: -100px;    
    margin-bottom: 20px;
    margin-right: 20px;
    width: 32%;       
    position: relative; 
    z-index: 10; 
}


.card-body {
    display: flex;            
    justify-content: center;  
    align-items: flex-end;  
    height: 100%;             
    padding: 0;           
}

.btn-light {
    background-color: #fff;  
    color: #000;              
    border: none;  
}

.btn-light:hover {
    background-color: #e2e2e2; 
    color: #000;               
}
